<div class="content-heading">
  <div class="pull-right">
    <%= link_to 'Show', @status, class: "btn btn-default" %>
    <%= link_to 'Back', statuses_path, class: "btn btn-default" %>
  </div>
  Editing Status
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'form' %>
  </div>
</div>
