<div class="content-heading">
   <div class="pull-right">
      <%= link_to 'Back', statuses_path, class: "btn btn-default" %>
   </div>
   New Status
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'form' %>
  </div>
</div>
