<div class="content-heading">
   Orders
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="well">
        <%= form_tag(orders_path, method: :get, class: "form-inline") do %>
          <div class="form-group">
            <%= label_tag "order" %>
            <%= select_tag "field", options_for_select([ "updated_at" ], params[:field]), class: 'form-control' %>
            <%= select_tag "order", options_for_select([ "ASC", "DESC" ], params[:order]), class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= label_tag "status", "Show" %>
            <%= select_tag "status", options_for_select([ ["All Orders", "any"], ["Open Orders", "open"], ["Closed Orders", "closed"], ["Cancelled Orders", "cancelled"] ], params[:status]), class: 'form-control' %>
          </div>
          <%= submit_tag "Submit", class: 'btn btn-default' %>
        <% end -%>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Order number</th>
            <th>Customer Name</th>
            <th>Subtotal Price</th>
            <th>Payment</th>
          </tr>
        </thead>
        <tbody>
          <% @paginated_orders.each do |order| %>
            <tr>
              <td><%= order.number %></td>
              <td><%= [order.try(:customer).try(:first_name), order.try(:customer).try(:last_name)].join(' ') %></td>
              <td><%= [order.subtotal_price, order.currency].join(' ') %></td>
              <td><%= order.financial_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @paginated_orders %>
    </div>
</div>
