<%= form_tag(orders_path, class: "form-horizontal", id: 'new_order', multipart: true) do %>
  <fieldset>
    <legend>Customer Info</legend>

    <div class="form-group">
      <%= label_tag 'order_customer_name', 'Customer name', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= text_field_tag 'order[customer][name]', nil, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag 'order_customer_email', 'Customer email', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= email_field_tag 'order[customer][email]', nil, class: "form-control", required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= label_tag 'order_customer_email', 'Note', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= text_area_tag 'order[customer][note]', nil, class: "form-control" %>
      </div>
    </div>
  </fieldset>

  <fieldset class="product-information">
    <legend>Products Info</legend>
    <%= link_to raw('<i class="icon-trash"></i> Remove this product'), '#', class: 'remove-product btn btn-danger pull-right' %>
    <div class="clearfix"></div>

    <div class="form-group">
      <div class="col-sm-3">
        <%= link_to 'Select Products', '#', id: 'product-selector', class: 'btn btn-primary' %>
      </div>
      <div class="col-sm-5">
        <%= text_field_tag 'order[products][0][name]', nil, class: "form-control", placeholder: "Product name", required: true %>
      </div>
      <div class="col-sm-2">
        <%= text_field_tag 'order[products][0][price]', nil, class: "form-control", placeholder: "00.00", required: true %>
      </div>
      <div class="col-sm-2">
        <%= text_field_tag 'order[products][0][quantity]', 1, class: "form-control", required: true %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'order_product_description', 'Product description', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= text_area_tag 'order[products][0][description]', nil, class: "form-control", placeholder: "Product description" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'order_product_picture', 'Product picture', class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= file_field_tag "order[products][0][picture]" %>
      </div>
    </div>

  </fieldset>

  <%= link_to raw('<i class="icon-plus"></i> Add a product'), '#', class: 'add-product btn btn-success' %>
  <%= button_tag(type: "submit", class: "btn btn-success") do %>
    <i class="icon-check"></i> I'm done adding products
  <% end -%>
<% end %>