// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

fieldset .form-group {
  margin-bottom: 15px;
}

.remove-product {
  margin-bottom: 15px;
}