<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar">
      <!-- START sidebar nav-->
      <ul class="nav">
         <li class="nav-heading">
            <span>Main Navigation</span>
         </li>
         <li class="<%= 'active' if controller?('orders') && action?('new') %>">
            <%= link_to new_order_path, title: 'new order' do %>
               <em class="icon-plus"></em>
               <span>New Order</span>
            <% end %>
         </li>
         <li class="<%= 'active' if controller?('orders') && action?('index') %>">
            <%= link_to orders_path, title: 'orders' do %>
               <em class="icon-list"></em>
               <span>Orders</span>
            <% end %>
         </li>
         <li class="<%= 'active' if controller?('statuses') && action?('index') %>">
            <%= link_to statuses_path, title: 'statuses' do %>
               <em class="icon-tag"></em>
               <span>Statuses</span>
            <% end %>
         </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->