<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Custom Order Pro</title>

  <script src="//cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      apiKey: "<%= ShopifyApp.configuration.api_key %>",
      shopOrigin: "<%= "https://#{ @shop_session.url }" if @shop_session %>",
      debug: <%= Rails.env.development? ? 'true' : 'false' %>
    });
  </script>

  <!-- =============== VENDOR STYLES ===============-->
  <%= stylesheet_link_tag 'base' %>
  <!-- =============== APP STYLES ===============-->
  <%= stylesheet_link_tag 'application', media: 'all', id: "maincss" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "<%= controller_name %>",
        icon: "<%= asset_path('faveicon.png') %>"
      });
    });
  </script>
  <div class="wrapper">
    <!-- top navbar-->
    <header class="topnavbar-wrapper">
      <%= render partial: "layouts/partials/topnavbar" %>
    </header>
    <!-- sidebar-->
    <aside class="aside">
      <%= render partial: "layouts/partials/sidebar" %>
    </aside>
    <!-- offsidebar-->
    <aside class="offsidebar hide">
      <%= render partial: "layouts/partials/offsidebar" %>
    </aside>
    <!-- Main section-->
    <section>
      <!-- Page content-->
      <div class="content-wrapper">
        <%= yield %>
      </div>
    </section>
    <!-- Page footer-->
    <footer>
      <%= render partial: "layouts/partials/footer" %>
    </footer>
  </div>
  <!-- =============== VENDOR SCRIPTS ===============-->
  <%= javascript_include_tag 'base' %>
  <!-- =============== APP SCRIPTS ===============-->
  <%= javascript_include_tag 'application' %>
</body>

</html>
